body { margin: 5px; }
.menu { 
    width: 290px; 
}
.menu button { width: 100%; }
#result_textarea { 
    resize: none; 
    width: 284px; 
    height: 120px;
}
#progress_bar {
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: -6px;
}

